
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #E8E8E8;
$white: #fff;
$termGreen: #45db25;
$cyan: #00FFFF;
// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$courier: Courier;
$courier-new: Courier New;
$consolas: Consolas;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

b, strong {
   color: red;
}