
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$indigo: #4b15bf;
$purple: #7944eb;
$cyan: #00FFFF;
$termGreen: #45db25;
$violet: #c7bce6;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #E8E8E8;
$white: #fff;
$yellow: #f2ff00;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$courier: Courier;
$courier-new: Courier New;
$consolas: Consolas;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$source-code: 'Source Code Pro', monospaced;
// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

b, strong {
   color: red;
}

