body{
  background-color: #93bdc7;
  background-image: url("../images/old-map.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87fffd', endColorstr='#e93cec',GradientType=1 );}

  #win{
    position: absolute;
    background: #C0C0C0;
    left: 20vh;
    top: 20vh;
    margin: auto;
    width: 60vw;
    height: 60vh;
    min-width: 200px;
    min-height: 120px;
    border: 1px solid #FFFFFF;
    border-right-color: #000000;
    border-bottom-color: #000000;
  }

  #pnav{
    margin: 2px 0 0 2px;
    background-color: #00007f;
    width: calc(100% - 6px);
    height: 16px;
    color: #FFFFFF;
    padding: 0 0 2px 2px;
  }

  #win_about{
    position: absolute;
    background: #C0C0C0;
    left: 200px  ;
    top: 20vh;
    margin: auto;
    width: 600px;
    height: 325px;
    min-width: 300px;
    min-height: 340px;
    border: 1px solid #FFFFFF;
    border-right-color: #000000;
    border-bottom-color: #000000;
  }

  #pnav_about {
    margin: 2px 0 0 2px;
    background-color: #00007f;
    width: calc(100% - 6px);
    height: 16px;
    color: #FFFFFF;
    padding: 0 0 2px 2px;
  }
  #pnav_about span {
    font-size: 12px;
    vertical-align: middle;
    line-height: 2;
  }

  #canvas{
    width: calc(100% - 4px);
    height: calc(100% - 46px);
    margin: 1px 1px 0;
    border: 1px solid #000000;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }

  .noter{
    position: absolute;
    bottom: 0; 
    margin: 0 1px 1px 1px;
    width: calc(100% - 4px);
    background: #C0C0C0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .notebox{  
    flex-grow: 1;
    margin: auto;
    width: auto;
    padding-left: 1px;
    padding-right: 0px;
    color: #000000;
    border: 1px solid #929292;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }

  .pbuttons{
    float: right;
    padding: 2px 2px 2px 0;
  }

  #canvas{
    width: calc(100% - 4px);
    height: calc(100% - 46px);
    margin: 1px 1px 0;
    border: 1px solid #000000;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }

  #icons{  
    position: absolute;
    top: 30px;
    left: 30px;
    width: 55px;
  }
  .icon{
    margin-bottom: 100%;
  }
  .github{
    background: url("../images/floppy2.png") no-repeat;
    width: 48px;
    height: 48px;
    margin-bottom: 20;
  } 
  .github :hover .icon_text {
    display: inline;
    position: absolute;
    top: -5px;
    left: 105%; 
  }
  .photo{
    background: url("../images/photos.png") no-repeat;
    width: 48px;
    height: 48px;
    padding: 0;
  }
  .photo :hover .icon_text {
    display: inline;
    position: absolute;
    top: -5px;
    left: 105%; 
  }

  .blog{
    background: url("../images/cd.png") no-repeat;
    width: 48px;
    height: 48px;
    padding: 0;
  }
  .blog :hover .icon_text {
    display: inline;
    position: absolute;
    top: -5px;
    left: 105%;
  }
  .linkedin{
    background: url("../images/connect.png") no-repeat;
    width: 48px;
    height: 48px;
    padding: 0;
  }
  .linkedin :hover .icon_text {
    display: inline;
    position: absolute;
    top: -5px;
    left: 105%; 
  }
  .about{
    background: url("../images/compu.png") no-repeat;
    width: 48px;
    height: 48px;
    padding: 0;
  }
  .about :hover .icon_text {
    display: inline;
    position: absolute;
    top: -5px;
    left: 105%;  
  }
  .icon_text{
    padding-bottom: 20px;
    display:none;
  }

  .noselect 
  {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #about_canvas{
    background-size:cover;
    width: calc(100% - 4px);
    height: calc(100% - 46px);
    margin: 1px 1px 0;
    border: 1px solid #000000;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }

  #photo_canvas{
    background-size:cover;
    width: calc(100% - 4px);
    height: calc(100% - 46px);
    margin: 1px 1px 0;
    border: 1px solid #000000;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }

  #container {
    position: relative;
  }
  #container canvas, #overlay {
    position: absolute;
  }

  .email a{
    font-size: 25px;
    vertical-align: middle;
    line-height: 2;
  }
